.container{
    width: 1200px;
    justify-content: space-between; /*cria espaço entre os componentes existentes de forma padrão*/
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.min-height {
    min-height: 75%;
}

.start {
    justify-content: flex-start;
}

.colum {
    flex-direction: column;
    justify-content: flex-start;
}